body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
 background: #E8E8E8;
 height: 100%;
 padding: 30px 40px;
 position: relative;
}
.content-header {
  height: 180px;
  background: #fff;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  position: relative;
  overflow-x: scroll;

}
.wrapper {
  width: 100%;
  background-color: #fff;
}
.red {
  margin-left: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 120px;
  color: #fff;
  background: red;
  font-size: 20px;
}
.blue {
  margin-left:20px;
  margin-bottom: 20px;
  height: 50px;
  width: 120px;
  background: blue;
  color: #fff;
  font-size: 20px;
}
.delorean {
  width: 100%;
  padding-top: 40px;
}
.text-below-img {
  height: 200px;
  background: #fff;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  overflow-x: scroll;
}
.footer {
  height: 50px;
  width: 100%;
  background: #333333;
  position: relative;
}
.apple {
  font-size: 17px;
  color: #fff;
  position: absolute;
  right: 100px;
  top: 17px;
  font-family: sans-serif;

}
.google {
  font-size: 17;
  position: absolute;
  color: #fff;
  right: 30px;
  top: 17px;
  font-family: sans-serif;
}
