body {
  position: relative;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.component {
  height: 100%;
  position: absolute;
  top: 150px;
  left: 150px;
  background: #333;
  width: 250px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
}

.component .content-header {
  background: #111;
  text-align: center;
  border-top-left-radius: 10px;
  padding: 2px;
  text-transform: uppercase;
}

.component .content {
  height: 80px;
  padding: 10px;
  position: relative;
}

.component .emote {
  float: left;
 margin-right: 10px;
}

.component .tags {
  overflow-y: scroll;
  height: 100%;

}
.component .tag:before {
  content: "# ";
}

.component .tag {
  color: #888;
}

.component .bignumber {
  position: absolute;
  color: #222;
  right: 0;
  top: 15%;
  font-size: 30px;
  font-weight: bold;

}

.component .footer {
  background: #37493d;
  border-radius: 10px;
  padding: 2px, 8px;
}



.component .comment {
  float: left;
  width: 30%;
}

.component .time {
  width: 50%;
  float: left;
  text-align: center;
}

.component .link {
  width: 20%;
  float: left;
  text-align: right;
}

.component .footer:after,
.component .content:after {
  content: "";
  display: block;
  clear: both;
}
